body{
  margin:20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: min-content;
}

table th{
  position: -webkit-sticky;
  position: sticky;
  top: 140px;
  background: white;
}

td, th {
  border: 3px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

th{
  font-size: 30px;
}

.rego{

}

.time-to-ready{
  white-space: nowrap;
}

td{
  white-space:pre-line;

}

.header{
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background: white;
}


