table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: min-content;
}

td, th {
  border: 3px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

th{
  font-size: larger;
}

.rego{

}

.time-to-ready{
  white-space: nowrap;
}

td{
  white-space:pre-line;

}

