body{
  margin:20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  height: min-content;
}

table th{
  top: 140px;
  background: white;
}

td, th {
  border: 2px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

th{
  font-size: 30px;
}

td{
  white-space:pre-line;

}

.header{
  background: white;
}

.scrolling{
  display:flex;
}

.table-headers{
  position:sticky;
  top:0px;
}

